html,
body {
  max-width: 100vw;
}

body {
  overflow-x: hidden;
}

body {
  margin: 0;
  position: relative;
  max-width: 100vw;
  height: 100vh;
  background-color: var(--color1);
}

a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color025);
  text-underline-offset: 3px;
  transition: all ease-in 100ms;
}
