#pattern  filter=crypt diff=crypt merge=crypt
takeout/*/src/** filter=crypt diff=crypt merge=crypt
apps/studio/src/** filter=crypt diff=crypt merge=crypt
apps/bento/src/** filter=crypt diff=crypt merge=crypt
