# these just need to be published on npm
**/types/**/*.d.ts
**/types/**/*.d.ts.map

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.ultra.cache.json
tmp
*.tsbuildinfo
*.tmp.js
yarn-error.log
dist
tsconfig.tsbuildinfo
node_modules
**/_jsx
**/_
**/tests/spec/out
.DS_Store

.next

.vercel

packages/site/out
