
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
  background-color: var(--backgroundStrong) !important;
}

body {
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#__next {
  display: flex;
  flex: 1;
}

body .preview {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -1px;
}

.col-span {
  column-span: 100;
}

.clip-invisible {
  clip: rect(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 300;
}

.is_Paragraph:has(> ul) {
  margin-bottom: 0;
}

:is(
  p a,
  footer a
) {
  text-decoration: underline;
  background-color: var(--pink2);
  color: var(--pink10);
  text-decoration-color: var(--pink6);
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 4px;
  margin: -2px;
  border-radius: 4px;
  text-underline-offset: 3px;
}

:is(
  p a
):hover {
  text-decoration-style: solid;
  background-color: var(--pink1);
  color: var(--pink11) !important;
  text-decoration-color: var(--pink6);
}

/* display block > display inline-flex bug */
/* see bolded text inside paragraph in mdx */
span._display-1adg3ll > span._display-xoduu5 {
  display: inline;
}

::selection {
  background-color: #843cc733;
}

.paragraph-parent .paragraph {
  margin: 0;
}

/*  */

.hero-scroll {
  overflow: hidden;
  overflow-x: auto;
}

.hero-gradient {
  position: relative;
}

.hero-gradient::before {
  display: flex;
  pointer-events: none;
  content: ' ';
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    330deg,
    var(--backgroundHover) 0%,
    transparent 30%,
    transparent 70%,
    var(--backgroundHover) 100%
  );
}

.hero-gradient-2 {
  background: linear-gradient(
    180deg,
    var(--backgroundStrong) 0%,
    transparent 60%
  );
}

/* reset */

p,
input,
textarea,
select,
button,
ul,
ol,
li,
pre {
  margin: 0;
  padding: 0;
}

.all {
  transition-property: all;
}
.transform {
  transition-property: transform;
}
.opacity {
  transition-property: opacity;
}
.background {
  transition-property: background;
}
.color {
  transition-property: color;
}
.top {
  transition-property: top;
}
.bottom {
  transition-property: bottom;
}
.left {
  transition-property: left;
}
.right {
  transition-property: right;
}

.ease-in {
  transition-timing-function: ease-in;
}
.ease-in-out {
  transition-timing-function: ease-in-out;
}
.ease-out {
  transition-timing-function: ease-out;
}

.ms50 {
  transition-duration: 50ms;
}
.ms100 {
  transition-duration: 100ms;
}
.ms150 {
  transition-duration: 150ms;
}
.ms200 {
  transition-duration: 200ms;
}
.ms300 {
  transition-duration: 300ms;
}

.help {
  cursor: help;
}

.rainbow {
  background: -webkit-linear-gradient(
    45deg,
    var(--red10),
    var(--orange10),
    var(--green10),
    var(--blue10),
    var(--purple10),
    var(--pink10)
  );
}

.clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* prevents clip on negative letter-spacing */
  padding-left: 3px;
  padding-right: 3px;
  margin-left: -3px;
  margin-right: -3px;
}

iframe {
  border-width: 0;
}

.unselectable,
.unselectable * {
  user-select: none !important;
  -webkit-user-select: none !important;
}

.glow {
  mix-blend-mode: multiply;
  /* backdrop-filter: blur(10px); */
  filter: blur(170px);
}

.blur {
  backdrop-filter: blur(8px);
}

.bg-dot-grid {
  contain: paint;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23px' height='23px' viewBox='0 0 23 23' fill='none'%3E%3Ccircle cx='22' cy='22' r='0.88' fill='rgba(115,115,115,0.3)' /%3E%3C/svg%3E%0A");
}

.bg-grid {
  contain: paint;
  background-position: center center;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoAQMAAAC2MCouAAAABlBMVEWBgYFHcEyMaNnGAAAAAnRSTlP/AOW3MEoAAAAQSURBVHgBY4CA+v9AMBJIALryrr41QoYVAAAAAElFTkSuQmCC");
  opacity: 0.1;
}

.t_dark .bg-grid { opacity: 0.15; }

.tamagui-icon {
  pointer-events: none;
}

@media (prefer-color-scheme: dark) {
  .bg-grid { opacity: 0.2; }

  .tamagui-icon {
    filter: invert(100%);
  }
}

.t_dark .tamagui-icon {
  filter: invert(100%);
}

.mask-gradient-both {
  mask-image: linear-gradient(rgba(0, 0, 0, 1.0), transparent, rgba(0, 0, 0, 1.0));
}

.mask-gradient-down {
  mask-image: linear-gradient(rgba(0, 0, 0, 1.0), transparent);
}

.mask-gradient-up {
  mask-image: linear-gradient(transparent 20%, rgba(0, 0, 0, 1.0));
}

/* code highlighting */

.token.parameter {
  color: var(--pink10);
}

.token.class-name {
  color: var(--green10);
}

.token.tag,
.token.selector,
.token.selector .class,
.token.function {
  color: var(--green11);
}

.highlight-line:hover {
  background-color: var(--backgroundHover);
}

.highlight-line {
  color: var(--colorPress); 
}

.token.attr-value,
.token.script {
  color: var(--red10);
}

.token.class,
.token.string,
.token.number,
.token.unit,
.token.color {
  color: var(--purple11);
}

.token.operator {
  color: (--color);
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.pseudo-class,
.token.important {
  color: var(--pink11);
}

.token.punctuation {
  color: var(--green10);
}

.token.module,
.token.property {
  color: var(--blue10);
}

.token.comment {
  color: var(--colorTranslucent);
  opacity: 0.6;
}

.token.atapply .token:not(.rule):not(.important) {
  color: inherit;
}

.language-shell .token:not(.comment) {
  color: inherit;
}

.language-css .token.function {
  color: inherit;
}

.token.deleted:not(.prefix),
.token.inserted:not(.prefix) {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -20px;
  margin-right: -20px;
}

.token.deleted:not(.prefix) {
  color: var(--red9);
}

.token.inserted:not(.prefix) {
  color: var(--green9);
}

.token.deleted.prefix,
.token.inserted.prefix {
  user-select: none;
  -webkit-user-select: none;
}

.highlight-word {
  --word-bg: var(--purple9);
  color: var(--purple9);
  background-color: var(--purple4);
  display: inline-block;
  box-shadow: var(--xOffset) 0 0 0 var(--word-bg), -1px 0 0 0 var(--word-bg);
}

.highlight-word .token {
  color: inherit;
}

.highlight-word.on {
  --word-bg: var(--purple7);
  transition: all 100ms ease;
  cursor: pointer;
}

.highlight-line {
  white-space: pre;
  /* safari fix weird wrapping */
  word-wrap: initial;
}

.highlight-line,
.highlight-line * {
  transition: color 150ms ease;
}

.highlight-line[data-highlighted='false'] {
  color: var(--gray12);
}

.token.deleted .highlight-word {
  color: var(--red9);
}

.token.deleted .highlight-word.on {
  color: var(--red11);
}

.token.inserted .highlight-word {
  color: var(--yellow9);
}

.token.inserted .highlight-word.on {
  color: var(--yellow11);
}

*[data-line-numbers='true'].highlight-line {
  position: relative;
  padding-left: var(--space-4);
}

.typewriter {
  opacity: 0;
}

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

input, textarea {
  outline: none;
  color: var(--color);
}

.ta-right {
  text-align: right;
}

.themes-fader { 
  background: linear-gradient(to right, var(--backgroundStrong), transparent 10%, transparent 90%, var(--backgroundStrong));
}

.docs-nav-item:hover .sidebar-indicator,
.docs-nav-item:hover .name {
  opacity: 1 !important;
}

.t_dark .docs-paragraph {
  opacity: 0.925;
}

.custom-scroll ::-webkit-scrollbar{
  height: 14px;
  width: 14px;
}

.custom-scroll ::-webkit-scrollbar-button{height:0;width:0}
.custom-scroll ::-webkit-scrollbar-thumb{
  border: 5.5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: rgba(150,150,150,0.15);
  display:none;
}
.custom-scroll:hover ::-webkit-scrollbar-thumb{display:flex;}

.scroll-horizontal {
  max-width: 100%;
  overflow-x: auto;
}

.font_silkscreen {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
}
