/* fix safari adjusting some random font sizes bigger */
@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: 100%;
  }
}


html,
body {
  max-width: 100vw;
}

body {
  overflow-x: hidden;
}

:root {
  color-scheme: light dark;
  
  --colorDeepDark: hsl(40, 45.0%, 5%);
  --colorDeepLight: #fff;
  --bodyBgLight: #fff;
  --bodyBgDark: #000;
  --logoColorLight: #000;
  --logoColorDark: #fff;
  
  --colorDeep: light-dark(var(--colorDeepLight), var(--colorDeepDark));
  --bodyBg: light-dark(var(--bodyBgLight), var(--bodyBgDark));
  --logoColor: light-dark(var(--logoColorLight), var(--logoColorDark));
}

:root.t_dark {
  --colorDeep: var(--colorDeepDark);
  --bodyBg: var(--bodyBgDark);
  --logoColor: var(--logoColorDark);
}

:root.t_light {
  --colorDeep: var(--colorDeepLight);
  --bodyBg: var(--bodyBgLight);
  --logoColor: var(--logoColorLight);
}

body {
  margin: 0;
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--bodyBg);
  background-image: linear-gradient(var(--bodyBg), var(--colorDeep)) !important;
}

a, [data-tint-link] {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color05);
  text-underline-offset: 4px;
  transition: all ease-in 100ms;
}

a:hover {
  text-decoration-color: var(--color10);
}

.t_dark a {
  text-decoration-color: var(--color025);
}

.t_dark a:hover {
  text-decoration-color: var(--color05);
}

.tinted a {
  text-decoration-color: var(--color4);
}

.tinted a:hover {
  text-decoration-color: var(--color1);
}

.t_dark .tinted a {
  text-decoration-color: var(--color8);
}

.t_dark .tinted a:hover {
  text-decoration-color: var(--color10);
}

:root [data-tint-link] {
  text-decoration-thickness: 2px;
  text-decoration-style: dotted;
}

:root [data-tint-link=pink] {
  text-decoration-color: var(--pink);
}

:root [data-tint-link=purple] {
  text-decoration-color: var(--purple);
}

:root [data-tint-link=red] {
  text-decoration-color: var(--red);
}

:root [data-tint-link=green] {
  text-decoration-color: var(--green);
}

:root [data-tint-link=blue] {
  text-decoration-color: var(--blue);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}


.container-sm-shadow {
  box-shadow:
    0 0 0 6px rgba(0,0,0,0.05),
    0 10px 40px rgba(0,0,0,0.15),
    inset 0 0 0 0.5px rgba(255,255,255,0.15);
}

.t_dark .container-sm-shadow {
  box-shadow:
    0 0 0 6px rgba(255,255,255,0.1),
    0 10px 55px rgba(0,0,0,0.85),
    inset 0 0 0 0.5px rgba(255,255,255,0.15);
}

.pretty-text {
  text-wrap: balance;
}

.text-underline-none {
  text-decoration-thickness: 0px !important;
}

a.is_Button, .text-underline-none {
  text-decoration: none;
}

.clip-text {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clip-text::selection {
  background-color: rgba(0, 0, 0, 0.25) !important;
}

.t_dark .dark-invert {
  filter: invert(100%);
}

.video-wrapper {position: relative; flex: 1; display: flex; padding-bottom: 90%;}
.video-wrapper iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

h1 + h2 {
  margin-top: -20px !important;
}

.t_light .local-shadows {
  box-shadow:
    0 0 0 7px color-mix(in srgb, var(--color1) 50%, transparent),
    0 0 80px rgba(0,0,0,0.07),
    0 40px 40px rgba(0,0,0,0.02),
    inset 0 0 100px var(--yellow4);
}

.t_dark .local-shadows {
  box-shadow:
    0 0 0 7px color-mix(in srgb, var(--color10) 8%, transparent),
    0 0 100px #000,
    inset 0 0 200px var(--yellow1),
    inset 0 0 100px var(--yellow1);
}

:root:root .is_Paragraph {
  text-wrap: pretty;
}

.video-background {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.video-background iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
}

@media (min-aspect-ratio: 16/9) {
  .video-background iframe {
    height: 56.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-background iframe {
    width: 177.78vh;
  }
}

:root {
  --corner-horizontal-length: 12px;
  --corner-vertical-length: 8px;
  --corner-thickness: 0.5px;
  --corner-color: var(--gray11);
}

.corner {
  position: absolute;
  opacity: 0.8;
}

.corner::before,
.corner::after {
  content: '';
  position: absolute;
  background-color: var(--corner-color);
}

/* Top-left corner */
.corner.top-left {
  top: 0;
  left: 0;
}

.corner.top-left::before {
  width: var(--corner-horizontal-length);
  height: var(--corner-thickness);
  top: 0;
  left: 0;
}

.corner.top-left::after {
  width: var(--corner-thickness);
  height: var(--corner-vertical-length);
  top: 0;
  left: 0;
}

/* Top-right corner */
.corner.top-right {
  top: 0;
  right: 0;
}

.corner.top-right::before {
  width: var(--corner-horizontal-length);
  height: var(--corner-thickness);
  top: 0;
  right: 0;
}

.corner.top-right::after {
  width: var(--corner-thickness);
  height: var(--corner-vertical-length);
  top: 0;
  right: 0;
}

/* Bottom-left corner */
.corner.bottom-left {
  bottom: 0;
  left: 0;
}

.corner.bottom-left::before {
  width: var(--corner-horizontal-length);
  height: var(--corner-thickness);
  bottom: 0;
  left: 0;
}

.corner.bottom-left::after {
  width: var(--corner-thickness);
  height: var(--corner-vertical-length);
  bottom: 0;
  left: 0;
}

/* Bottom-right corner */
.corner.bottom-right {
  bottom: 0;
  right: 0;
}

.corner.bottom-right::before {
  width: var(--corner-horizontal-length);
  height: var(--corner-thickness);
  bottom: 0;
  right: 0;
}

.corner.bottom-right::after {
  width: var(--corner-thickness);
  height: var(--corner-vertical-length);
  bottom: 0;
  right: 0;
}

/* ---- */

:root {
  --triangle-size: 30px;
  --triangle-color: var(--gray6);
  --triangle-offset: -7px;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  opacity: 0.2;
}

/* Top-left corner */
.triangle.top-left {
  top: var(--triangle-offset);
  left: var(--triangle-offset);
  border-width: var(--triangle-size) var(--triangle-size) 0 0;
  border-color: var(--triangle-color) transparent transparent transparent;
}

/* Top-right corner */
.triangle.top-right {
  top: var(--triangle-offset);
  right: var(--triangle-offset);
  border-width: var(--triangle-size) 0 0 var(--triangle-size);
  border-color: var(--triangle-color) transparent transparent transparent;
}

/* Bottom-left corner */
.triangle.bottom-left {
  bottom: var(--triangle-offset);
  left: var(--triangle-offset);
  border-width: 0 var(--triangle-size) var(--triangle-size) 0;
  border-color: transparent transparent var(--triangle-color) transparent;
}

/* Bottom-right corner */
.triangle.bottom-right {
  bottom: var(--triangle-offset);
  right: var(--triangle-offset);
  border-width: 0 0 var(--triangle-size) var(--triangle-size);
  border-color: transparent transparent var(--triangle-color) transparent;
}

.video-glow::after {
  display: flex;
  content: ' ';
  position: absolute;
  inset: 0;
  background: var(--color7);
  z-index: -1;
  top: 50px;
  filter: blur(90px);
  transform: scale(0.9);
}

.t_dark .video-glow::after {
  background: var(--color7);
}

.t_light .video-glow::after {
  background: var(--color3);
}
