iframe {
  background: transparent;
}

body {
  background-color: transparent !important;
}

.anim {
  transition: all ease 100ms;
}

.c-target-parent .target {
  opacity: 0;
  outline: none;
}

.c-target-parent[data-dragging=true] .target, 
.c-target-parent:hover > .target {
  opacity: 1;
}
