.r-backgroundColor-1g6456j {
  background-color: rgba(255, 0, 0, 1);
}
.r-borderBottomLeftRadius-13c4fz4 {
  border-bottom-left-radius: 100px;
}
.r-borderBottomRightRadius-1iofnf8 {
  border-bottom-right-radius: 100px;
}
.r-borderTopLeftRadius-12r24e5 {
  border-top-left-radius: 100px;
}
.r-borderTopRightRadius-12he9u2 {
  border-top-right-radius: 100px;
}
.r-boxShadow-1xz9bc3 {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
.r-flexBasis-1mlwlqe {
  -ms-flex-preferred-size: auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
.r-flexDirection-eqz5dr {
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.r-flexGrow-16y2uox {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.r-flexShrink-1wbh5a2 {
  -ms-flex-negative: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
}
.r-overflowX-11yh6sk {
  overflow-x: hidden;
}
.r-overflowY-buy8e9 {
  overflow-y: hidden;
}
.r-backgroundColor-kemksi {
  background-color: rgba(0, 0, 0, 1);
}
.r-borderBottomLeftRadius-keui8w {
  border-bottom-left-radius: 12px;
}
.r-borderBottomRightRadius-j9nkxj {
  border-bottom-right-radius: 12px;
}
.r-borderTopLeftRadius-chstv {
  border-top-left-radius: 12px;
}
.r-borderTopRightRadius-1nlznlq {
  border-top-right-radius: 12px;
}
.r-boxShadow-1tpz28 {
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.13);
}
.r-paddingBottom-l4nmg1 {
  padding-bottom: 2px;
}
.r-paddingLeft-qhyqy2 {
  padding-left: 5px;
}
.r-paddingRight-19gegkz {
  padding-right: 5px;
}
.r-paddingTop-vmopo1 {
  padding-top: 2px;
}
.r-top-ipm5af {
  top: 0px;
}
.r-backgroundColor-14lw9ot {
  background-color: rgba(255, 255, 255, 1);
}
.r-top-15am80v {
  top: -14px;
}
.r-height-4d76ec {
  height: 200px;
}
.r-overflowX-okxjgd-ho:hover {
  overflow-x: visible;
}
.r-overflowY-ipc04b-ho:hover {
  overflow-y: visible;
}
.r-backgroundColor-57dg7b {
  background-color: rgba(0, 0, 255, 1);
}
.r-maxWidth-f2w40 {
  max-width: 30%;
}
.r-minWidth-68jxh1 {
  min-width: 500px;
}
.r-paddingBottom-1mi0q7o {
  padding-bottom: 10px;
}
.r-paddingLeft-1j3zfw3 {
  padding-left: 11px;
}
.r-paddingRight-mszm1p {
  padding-right: 11px;
}
.r-width-1skwq7n {
  width: 66%;
}
.r-height-1or9b2r {
  height: 10px;
}
.r-width-5soawk {
  width: 10px;
}
.r-height-1w2pmg {
  height: 0px;
}
.r-width-1h2t8mc {
  width: 0px;
}
.r-bottom-1p0dtai {
  bottom: 0px;
}
.r-left-1d2f490 {
  left: 0px;
}
.r-position-bnwqim {
  position: relative;
}
.r-right-zchlnj {
  right: 0px;
}
.r-paddingBottom-19yat4t {
  padding-bottom: 15px;
}
.r-paddingTop-1qxgc49 {
  padding-top: 15px;
}
.r-display-4qtqp9 {
  display: inline-block;
}
.r-fontSize-10x49cs {
  font-size: 10px;
}
.r-userSelect-1xnzce8 {
  -moz-user-select: -webkit-text;
  -moz-user-select: text;
  -ms-user-select: -webkit-text;
  -ms-user-select: text;
  -webkit-user-select: -webkit-text;
  -webkit-user-select: text;
  user-select: -webkit-text;
  user-select: text;
}
.r-fontSize-a023e6 {
  font-size: 15px;
}
.r-fontWeight-1kfrs79 {
  font-weight: 600;
}
.r-color-cqee49 {
  color: rgba(0, 0, 0, 1);
}
.r-color-jwli3a {
  color: rgba(255, 255, 255, 1);
}
.r-alignItems-1awozwy {
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
.r-borderBottomStyle-rull8r {
  border-bottom-style: solid;
}
.r-borderBottomWidth-qklmqi {
  border-bottom-width: 1px;
}
.r-borderLeftStyle-mm0ijv {
  border-left-style: solid;
}
.r-borderLeftWidth-1ljd8xs {
  border-left-width: 1px;
}
.r-borderRightStyle-14skgim {
  border-right-style: solid;
}
.r-borderRightWidth-13l2t4g {
  border-right-width: 1px;
}
.r-borderTopStyle-1efd50x {
  border-top-style: solid;
}
.r-borderTopWidth-5kkj8d {
  border-top-width: 1px;
}
.r-minHeight-yfq7p9 {
  min-height: 10px;
}
.r-borderBottomColor-oucylx {
  border-bottom-color: rgba(0, 0, 0, 0);
}
.r-borderLeftColor-855088 {
  border-left-color: rgba(0, 0, 0, 0);
}
.r-borderRightColor-114ovsg {
  border-right-color: rgba(0, 0, 0, 0);
}
.r-borderTopColor-1c1gj4h {
  border-top-color: rgba(0, 0, 0, 0);
}
.r-borderBottomColor-19sur4y {
  border-bottom-color: rgba(0, 0, 0, 0.15);
}
.r-borderLeftColor-1utlcvg {
  border-left-color: rgba(0, 0, 0, 0.15);
}
.r-borderRightColor-1qev2y0 {
  border-right-color: rgba(0, 0, 0, 0.15);
}
.r-borderTopColor-48c68v {
  border-top-color: rgba(0, 0, 0, 0.15);
}
.r-opacity-6dt33c {
  opacity: 1;
}
.r-transform-br5s0h {
  -webkit-transform: ;
  transform: ;
}
.r-opacity-orgf3d {
  opacity: 0;
}
.r-transform-12d2xq9 {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}
.r-fontWeight-16dba41 {
  font-weight: 400;
}
.r-height-1r8g8re {
  height: 36px;
}
.r-lineHeight-nwxazl {
  line-height: 40px;
}
.r-textAlign-q4m81j {
  text-align: center;
}
.r-width-1acpoxo {
  width: 36px;
}
.r-color-1h9q8wt {
  color: rgba(69, 69, 69, 1);
}
.r-backgroundColor-1g6456j-ho:hover {
  background-color: rgba(255, 0, 0, 1);
}
.r-backgroundColor-57dg7b-fo.r-backgroundColor-57dg7b-fo:focus {
  background-color: rgba(0, 0, 255, 1);
}
.r-flexGrow-18kxxzh {
  -ms-flex-positive: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
}
.r-flexShrink-1q142lx {
  -ms-flex-negative: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.r-minHeight-n1gths {
  min-height: 12px;
}
.r-minWidth-tl9ukz {
  min-width: 12px;
}
.r-minWidth-t66pp7 {
  min-width: 10px;
}
.r-borderBottomLeftRadius-1dc6fhg {
  border-bottom-left-radius: 100000000000px;
}
.r-borderBottomRightRadius-11t3v3o {
  border-bottom-right-radius: 100000000000px;
}
.r-borderTopLeftRadius-82gfbr {
  border-top-left-radius: 100000000000px;
}
.r-borderTopRightRadius-iszaty {
  border-top-right-radius: 100000000000px;
}
.r-justifyContent-1777fci {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.r-borderBottomColor-1h72vht {
  border-bottom-color: rgba(150, 150, 150, 0.5);
}
.r-borderBottomLeftRadius-shm4j {
  border-bottom-left-radius: 10px;
}
.r-borderBottomRightRadius-tabonr {
  border-bottom-right-radius: 10px;
}
.r-borderLeftColor-ha2wk7 {
  border-left-color: rgba(150, 150, 150, 0.5);
}
.r-borderRightColor-skegzm {
  border-right-color: rgba(150, 150, 150, 0.5);
}
.r-borderTopColor-7z5h14 {
  border-top-color: rgba(150, 150, 150, 0.5);
}
.r-borderTopLeftRadius-j9b53g {
  border-top-left-radius: 10px;
}
.r-borderTopRightRadius-1i97xy8 {
  border-top-right-radius: 10px;
}
.r-borderBottomColor-am5ikd-ho:hover {
  border-bottom-color: rgba(150, 150, 150, 0.8);
}
.r-borderLeftColor-jpya7e-ho:hover {
  border-left-color: rgba(150, 150, 150, 0.8);
}
.r-borderRightColor-1onl8pq-ho:hover {
  border-right-color: rgba(150, 150, 150, 0.8);
}
.r-borderTopColor-1w0kvoq-ho:hover {
  border-top-color: rgba(150, 150, 150, 0.8);
}
.r-flexDirection-18u37iz {
  -ms-flex-direction: row;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.r-flexWrap-1w6e6rj {
  -ms-flex-wrap: wrap;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.r-width-13qz1uu {
  width: 100%;
}
.r-paddingBottom-k8qxaj {
  padding-bottom: 20px;
}
.r-paddingLeft-b5h31w {
  padding-left: 20px;
}
.r-paddingRight-1ah4tor {
  padding-right: 20px;
}
.r-paddingTop-1knelpx {
  padding-top: 20px;
}
.r-backgroundColor-1x31b7q {
  background-color: rgba(0, 0, 0, 0.05);
}
.r-borderBottomLeftRadius-44c749 {
  border-bottom-left-radius: 7px;
}
.r-borderBottomRightRadius-py1axk {
  border-bottom-right-radius: 7px;
}
.r-borderTopLeftRadius-bxaprw {
  border-top-left-radius: 7px;
}
.r-borderTopRightRadius-1ioqa4e {
  border-top-right-radius: 7px;
}
.r-backgroundColor-lfaovh {
  background-color: rgba(0, 0, 0, 0.02);
}
.r-borderBottomLeftRadius-re1h2s {
  border-bottom-left-radius: 5px;
}
.r-borderBottomRightRadius-qpmf2f {
  border-bottom-right-radius: 5px;
}
.r-borderTopLeftRadius-1as3g83 {
  border-top-left-radius: 5px;
}
.r-borderTopRightRadius-dfv94e {
  border-top-right-radius: 5px;
}
.r-maxWidth-dnmrzs {
  max-width: 100%;
}
.r-borderBottomLeftRadius-1i9ubto {
  border-bottom-left-radius: 15px;
}
.r-borderBottomRightRadius-sj9tmm {
  border-bottom-right-radius: 15px;
}
.r-borderTopLeftRadius-1n0n9yc {
  border-top-left-radius: 15px;
}
.r-borderTopRightRadius-1g4ueg6 {
  border-top-right-radius: 15px;
}
.r-boxShadow-rkhjfr {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}
.r-backgroundColor-1542mo4 {
  background-color: rgba(0, 128, 0, 1);
}
.r-fontSize-adyw6z {
  font-size: 20px;
}
.r-lineHeight-hbpseb {
  line-height: 22px;
}
.r-textOverflow-1udbk01 {
  text-overflow: ellipsis;
}
.r-whiteSpace-3s2u2q {
  white-space: nowrap;
}
.r-color-djgu52 {
  color: rgba(102, 102, 102, 1);
}
.r-fontSize-1b43r93 {
  font-size: 14px;
}
.r-fontWeight-aruset {
  font-weight: 200;
}
.r-borderBottomLeftRadius-qil8wd {
  border-bottom-left-radius: 1000px;
}
.r-borderBottomRightRadius-1r0swdl {
  border-bottom-right-radius: 1000px;
}
.r-borderTopLeftRadius-1qelggl {
  border-top-left-radius: 1000px;
}
.r-borderTopRightRadius-3lwb2g {
  border-top-right-radius: 1000px;
}
.r-paddingBottom-1inuy60 {
  padding-bottom: 5px;
}
.r-paddingLeft-chftdy {
  padding-left: 9px;
}
.r-paddingRight-fupfwf {
  padding-right: 9px;
}
.r-paddingTop-glunga {
  padding-top: 5px;
}
.r-fontSize-n6v787 {
  font-size: 13px;
}
.r-color-1yis5wz {
  color: rgba(204, 204, 204, 1);
}
.r-fontSize-xb2eav {
  font-size: 40px;
}
.r-marginBottom-p1pxzi {
  margin-bottom: 0px;
}
.r-marginTop-ymp9ed {
  margin-top: -10px;
}
.r-color-cc4kyd {
  color: rgba(153, 153, 153, 1);
}
.r-fontWeight-vw2c0b {
  font-weight: bold;
}
.r-minHeight-461dsm {
  min-height: 4px;
}
.r-minWidth-h6r2zm {
  min-width: 4px;
}
.r-minHeight-1ijha98 {
  min-height: 8px;
}
.r-minWidth-h2mvr {
  min-width: 8px;
}
.r-fontWeight-majxgm {
  font-weight: 500;
}
.r-opacity-icoktb {
  opacity: 0.5;
}
.r-direction-1r5hsye {
  direction: horizontal;
}
.r-direction-si9nfs {
  direction: vertical;
}
.r-color-12xjm7r {
  color: rgba(150, 150, 150, 0.5);
}
.r-alignSelf-1pz39u2 {
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  -webkit-align-self: stretch;
  align-self: stretch;
}
.r-paddingBottom-iphfwy {
  padding-bottom: 4px;
}
.r-paddingLeft-m2pi6t {
  padding-left: 4px;
}
.r-paddingRight-1hvjb8t {
  padding-right: 4px;
}
.r-paddingTop-1h8ys4a {
  padding-top: 4px;
}
.r-fontSize-ubezar {
  font-size: 16px;
}
.r-lineHeight-17pv48e {
  line-height: 17.779999999999998px;
}
.r-marginBottom-1prsgcz {
  margin-bottom: -1.4223999999999999px;
}
.r-marginTop-1cywi5d {
  margin-top: -1.4223999999999999px;
}
.r-fontWeight-1od2jal {
  font-weight: 300;
}
.r-justifyContent-17s6mgv {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.r-paddingBottom-72n57r {
  padding-bottom: 5%;
}
.r-paddingLeft-1u936jj {
  padding-left: 5%;
}
.r-paddingRight-1a6n0ax {
  padding-right: 5%;
}
.r-paddingTop-qstxrp {
  padding-top: 5%;
}
.r-pointerEvents-633pao {
  pointer-events: none;
}
.r-position-u8s1d {
  position: absolute;
}
.r-zIndex-1l9bvml {
  z-index: 10000000000;
}
.r-boxShadow-1lpexh {
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.35);
}
.r-paddingBottom-kzbkwu {
  padding-bottom: 12px;
}
.r-paddingLeft-qi0n3 {
  padding-left: 18px;
}
.r-paddingRight-c9eks5 {
  padding-right: 18px;
}
.r-paddingTop-ttdzmv {
  padding-top: 12px;
}
.r-fontSize-1i10wst {
  font-size: 18px;
}
.r-marginBottom-15zivkp {
  margin-bottom: 4px;
}
.r-marginTop-14gqq1x {
  margin-top: 4px;
}
