.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.turbo

tmp
dist
node_modules

*.tsbuildinfo
*.tmp.js

yarn-error.log
tsconfig.tsbuildinfo
.DS_Store

.tamagui

.idea

.env
# local env files
.env.local
.env.development.local
.env.test.localp
.env.production.local

.expo

# generated code
/ios
/android
