body .preview {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -1px;
}

.col-span {
  column-span: 100;
}

.clip-invisible {
  clip: rect(0, 0, 0, 0);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
  background-color: var(--background);
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 300;
}

p a,
span a {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: var(--colorPress);
  text-decoration-color: var(--borderColorHover);
  text-underline-offset: 5px;
}

input,
textarea,
select,
button {
  margin: 0;
}

p a:hover,
span a:hover {
  color: var(--blue12);
  text-decoration-color: var(--borderColorHover);
}

/* display block > display inline-flex bug */
/* see bolded text inside paragraph in mdx */
span._display-1adg3ll > span._display-xoduu5 {
  display: inline;
}

::selection {
  background-color: #843cc733;
}

.crisp-edges,
.crisp-edges * {
  shape-rendering: crispEdges;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.paragraph-parent .paragraph {
  margin: 0;
}

/*  */

.text-shadow {
  text-shadow: 0 2px 2px rgb(0 0 0 / 12%);
}

.hero-gradient {
  background: linear-gradient(
    330deg,
    var(--background) 10%,
    var(--backgroundHover) 50%,
    var(--background) 90%
  );
}

.hero-gradient-light {
  background: linear-gradient(
    330deg,
    rgba(0,0,0,0) 0%,
    var(--red2) 50%,
    rgba(0,0,0,0) 100%
  );
}

/* reset */

ul,
ol,
li,
pre {
  margin: 0;
}

/* .transition {} */

.all {
  transition-property: all;
}
.transform {
  transition-property: transform;
}
.opacity {
  transition-property: opacity;
}
.background {
  transition-property: background;
}
.color {
  transition-property: color;
}
.top {
  transition-property: top;
}
.bottom {
  transition-property: bottom;
}
.left {
  transition-property: left;
}
.right {
  transition-property: right;
}

.ease-in {
  transition-timing-function: ease-in;
}
.ease-in-out {
  transition-timing-function: ease-in-out;
}
.ease-out {
  transition-timing-function: ease-out;
}

.ms50 {
  transition-duration: 50ms;
}
.ms100 {
  transition-duration: 100ms;
}
.ms150 {
  transition-duration: 150ms;
}
.ms200 {
  transition-duration: 200ms;
}
.ms300 {
  transition-duration: 300ms;
}
.ms400 {
  transition-duration: 400ms;
}
.ms500 {
  transition-duration: 500ms;
}
.ms750 {
  transition-duration: 750ms;
}
.s1 {
  transition-duration: 1s;
}
.s2 {
  transition-duration: 2s;
}

.help {
  cursor: help;
}

.gradient-blue {
  background: linear-gradient(90deg, var(--blue1), var(--purple1));
}

.gradient-pink {
  background: linear-gradient(90deg, var(--pink1), var(--red1));
}

.gradient-red {
  background: linear-gradient(90deg, var(--red1), var(--orange1));
}

.gradient-orange {
  background: linear-gradient(90deg, var(--orange1), var(--yellow1));
}

.gradient-purple {
  background: linear-gradient(90deg, var(--purple1), var(--green1));
}

.gradient-green {
  background: linear-gradient(90deg, var(--green1), var(--teal1));
}

.gradient-teal {
  background: linear-gradient(90deg, var(--teal1), var(--yellow1));
}

.rainbow {
  background: -webkit-linear-gradient(
    -190deg,
    var(--green9),
    var(--yellow9),
    var(--red9),
    var(--orange9),
    var(--blue9),
    var(--purple9),
    var(--teal9)
  );
}

.clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

iframe {
  border-width: 0;
}

.unselectable,
.unselectable * {
  user-select: none !important;
}

.glow {
  mix-blend-mode: multiply;
  /* backdrop-filter: blur(10px); */
  filter: blur(170px);
}

.bg-grid {
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='grid' width='30' height='30' patternUnits='userSpaceOnUse'%3E%3Cpath d='M 80 0 L 0 0 0 80' fill='none' stroke='rgba(127,127,127,0.2)' stroke-width='1'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='100%25' height='100%25' fill='url(%23grid)' /%3E%3C/svg%3E");
}

.bg-grid-big {
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='grid' width='50' height='50' patternUnits='userSpaceOnUse'%3E%3Cpath d='M 80 0 L 0 0 0 80' fill='none' stroke='rgba(127,127,127,0.2)' stroke-width='1'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='100%25' height='100%25' fill='url(%23grid)' /%3E%3C/svg%3E");
}

.mask-gradient-both {
  mask-image: linear-gradient(rgba(0, 0, 0, 1.0), transparent, rgba(0, 0, 0, 1.0));
}

.mask-gradient-down {
  mask-image: linear-gradient(rgba(0, 0, 0, 1.0), transparent);
}

.mask-gradient-up {
  mask-image: linear-gradient(transparent, rgba(0, 0, 0, 1.0));
}

/* code highlighting */

/* //   $$background: $loContrast;
//   $$text: $colors$hiContrast;
//   $$outline: 0 0 0 1px $colors$slate6;
//   $$syntax1: $colors$blue11;
//   $$syntax2: $colors$cyan11;
//   $$syntax3: $colors$blue11;
//   $$syntax4: $colors$blue11;
//   $$comment: $colors$slate10;
//   $$removed: $colors$red11;
//   $$added: $colors$green11;
//   $$lineNumbers: $colors$indigo5;
//   $$fadedLines: $colors$slate10;
//   $$highlightedWord1Bg: $colors$violet4;
//   $$highlightedWord1BgActive: $colors$violet6;
//   $$highlightedWord1Text: $colors$violet11;
//   $$highlightedWord2Bg: $colors$red3;
//   $$highlightedWord2BgActive: $colors$red5;
//   $$highlightedWord2Text: $colors$red11;
//   $$highlightedWord3Bg: $colors$green3;
//   $$highlightedWord3BgActive: $colors$green5;
//   $$highlightedWord3Text: $colors$green11', ;
*/

.token.parameter {
  color: var(--colorPress);
}

.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.function {
  color: var(--colorPress);
}

.token.attr-value,
.token.class,
.token.string,
.token.number,
.token.unit,
.token.color {
  color: var(--cyan11);
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.operator,
.token.pseudo-class,
.token.important {
  color: var(--green11);
}

.token.punctuation {
  color: var(--colorHover);
}

.token.module,
.token.property {
  color: var(--red11);
}

.token.comment {
  color: var(--colorTranslucent);
}

.token.atapply .token:not(.rule):not(.important) {
  color: inherit;
}

.language-shell .token:not(.comment) {
  color: inherit;
}

.language-css .token.function {
  color: inherit;
}

.token.deleted:not(.prefix),
.token.inserted:not(.prefix) {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -20px;
  margin-right: -20px;
}

.token.deleted:not(.prefix) {
  color: var(--red9);
}

.token.inserted:not(.prefix) {
  color: var(--green9);
}

.token.deleted.prefix,
.token.inserted.prefix {
  user-select: none;
}

.highlight-word {
  --word-bg: var(--purple9);
  color: var(--purple9);
  background-color: var(--purple4);
  display: inline-block;
  box-shadow: var(--xOffset) 0 0 0 var(--word-bg), -1px 0 0 0 var(--word-bg);
}

.highlight-word .token {
  color: inherit;
}

.highlight-word.on {
  --word-bg: var(--purple7);
  transition: all 100ms ease;
  cursor: pointer;
}

.highlight-line {
  white-space: pre;
  /* safari fix weird wrapping */
  word-wrap: initial;
}

.highlight-line,
.highlight-line * {
  transition: color 150ms ease;
}

.highlight-line[data-highlighted='false'] {
  color: var(--gray12);
}

.token.deleted .highlight-word {
  color: var(--red9);
}

.token.deleted .highlight-word.on {
  color: var(--red11);
}

.token.inserted .highlight-word {
  color: var(--yellow9);
}

.token.inserted .highlight-word.on {
  color: var(--yellow11);
}

*[data-line-numbers='true'].highlight-line {
  position: relative;
  padding-left: var(--space-4);
}

.transition-test {
  transition: all ease-in 300ms;
}

.typewriter {
  opacity: 0;
}

.scroll-horizontal {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Algolia */

.DocSearch {
  --docsearch-primary-color: var(--colorPress);
  --docsearch-highlight-color: var(--docsearch-primary-color);
  --docsearch-text-color: var(--colorHover);
  --docsearch-modal-background: var(--background);
  --docsearch-searchbox-shadow: none;
  --docsearch-searchbox-background: transparent;
  --docsearch-searchbox-focus-background: transparent;
  --docsearch-hit-color: var(--colorHover);
  --docsearch-muted-color: var(--colorFocus);
  --docsearch-logo-color: var(--colorPress);
  --docsearch-footer-background: transparent;
  --docsearch-footer-shadow: none;
  --docsearch-modal-shadow: inset 0 0 1px 1px var(--borderColor), 0 5px 20px 0 var(--shadowColor);
}

.DocSearch-Modal {
  border-radius: 18px;
}

.DocSearch-SearchBar {
  border-bottom: 0.5px solid var(--borderColor);
  padding: var(--space-1);
  font-size: var(--size-3);
}

.DocSearch-Container {
  backdrop-filter: blur(5px);
}

.DocSearch-Label,
.DocSearch-Help,
.DocSearch-NoResults,
.DocSearch-Footer,
.DocSearch-Reset {
  color: var(--colorTranslucent);
}

.DocSearch-Commands {
  display: none;
}

.DocSearch-MagnifierLabel {
  opacity: 0.2;
  margin-right: 10px;
}

.tui_dark .DocSearch {
  --docsearch-container-background: rgba(25, 25, 25, 0.6);
  --docsearch-hit-shadow: none;
  --docsearch-hit-background: #333;
  --docsearch-key-gradient: linear-gradient(-26.5deg, #161618, #4a4a4a);
}
