@font-face {
  font-family: 'Inter';
  src: url('subset-Inter-Medium.woff2') format('woff2'),
      url('subset-Inter-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('subset-Inter-ExtraBold.woff2') format('woff2'),
      url('subset-Inter-ExtraBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
