/* mimic the native viewport full width/height + flex */
body, #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

li, select, input, button, [role="slider"] {
  outline: none;
}

p,
input,
textarea,
button,
ul,
ol,
li,
pre,
dialog {
  all: unset;
  box-sizing: border-box;
}

.is_Anchor:has(.is_Button) {
  text-decoration: none;
}
