* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

p,
input,
textarea,
select,
button,
ul,
ol,
li,
pre,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

input, button, [role="slider"] {
  outline: none;
}
