@font-face {
  font-family: 'Inter';
  src: url('subset-Inter-Regular.woff2') format('woff2'),
      url('subset-Inter-Regular.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
