@font-face {
  font-family: 'Inter';
  src: url('subset-Inter-Thin.woff2') format('woff2'),
      url('subset-Inter-Thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('subset-Inter-Black.woff2') format('woff2'),
      url('subset-Inter-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
