name: Checks

on:
  pull_request:
  push:
    paths-ignore:
      - 'assets/**'
      - '.vscode/**'
    branches:
      - main
      - v2
      - 'v2-*'

concurrency:
  group: checks-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install
        uses: ./.github/actions/install

      - name: Run web tests
        run: |
          cd code/compiler/static-tests
          DISABLE_NATIVE_TEST=1 INCLUDE_CSS_COLOR_NAMES=1 npx vitest --retry=2 --config ../../packages/vite-plugin-internal/src/vite.config.cjs.ts --run tests/*.web.test.tsx
